DB_NAME=jdbc:postgresql://localhost:5432/db_backend_360
DB_USERNAME=postgres
DB_PASSWORD=123

# Cloudinary
CLOUDINARY_CLOUD_NAME=df5hvjteu
CLOUDINARY_API_KEY=694571438243327
CLOUDINARY_API_SECRET=i8D0T8zC-yYdoPYN-duJXCLfWkI

RUSTFS_ACCESS_KEY=admin
RUSTFS_SECRET_KEY=password123
RUSTFS_ENDPOINT=http://localhost:9000
RUSTFS_BUCKET=sarana
AWS_REGION=us-east-1

JWT_SECRET_BASE64=VGhpc0lzQVN0cm9uZ0RldmVsb3BtZW50S2V5VGhhdE11c3RCZUF0TGVhc3QzMkJ5dGVzTG9uZw==
JWT_ACCESS_EXP_SECONDS=9000
JWT_REFRESH_EXP_SECONDS=604800